@import "tailwindcss";
@plugin "daisyui"
{
    themes: all;
    exclude: rootscrollgutter;

}

@keyframes scan-line {
  0%   { top: 0; }
  50%  { top: calc(100% - 2px); }
  100% { top: 0; }
}

.animate-scan-line {
  animation: scan-line 2s ease-in-out infinite;
}